/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*:before,*:after{ 
	box-sizing: border-box;
}

.wrap{
	margin: 0 auto;
	width: 1024px;
	overflow: hidden;
}

.follow{
	display: flex;
	justify-content: end;
	background: #f6f6f6;
	padding-top: 15px;
	padding-bottom: 15px;
}
.fb{
	display: block;
	display: flex;
	align-items: center;
	font-weight: bold;
	text-indent: 5px;
	color: #5d6998;
	white-space: nowrap;
	text-decoration: none;
	margin-right: 10px;
}
.fb:hover{
	color: blue;
}
.follow span{
	display: block;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15px;
	color: #cbcbcb;
}
.tw{
	display: block;
	display: flex;
	align-items: center;
	text-indent: 5px;
	color: #00aaff;
	white-space: nowrap;
	text-decoration: none;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 15px;
}
.tw:hover{
	color: #0084ff;
}


.header{
	margin-top: 3px;
	margin-left: 20px;
	margin-bottom: 3px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10;
	/* float: left; */
}
.header h1 a{
	height: 37px;
	display: block;
}
.menu{
	display: flex;
	margin-right: 10px;
	position: relative;
	/* overflow: hidden; */
}
.menu li{
	width: 80px;
	height: 47px;
	line-height: 20px;
	position: relative;
	display: inline-block;
	padding: 0 10px;
}
/* 問與答 箭頭 */
.ask{
	padding-left: 20px;
}
.menu a{
	display: flex;
	justify-content: center;
	text-decoration: none;
	line-height: 45px;
	font-weight: bold;
	height: 40px;
	white-space: nowrap;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #00ab8c;
	text-indent: 6px;
}
/* 讀條效果 */
.menu a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 4px;
	background: #00ab8c;
	transition: width 0.3s;
}
.menu a:hover::after {
	width: 100%;
}
/* 輪播圖 & 下拉選單 區塊 */
.swip{
	position: relative;
	overflow: hidden;
}
/* 下拉選單 */
.down-menu{
	width: 180px;
	height: 200px;
	background: #00ab8c;
	position: absolute;
	top: 0;
	right: 0;
	transition: 0.7s ease;/* 關閉速度 */
	transform: translateY(-350px);
	float: left;
	z-index: 2;
}
.open {
	transform: translateX(0px);/* 開啟速度 */
	transition: 0.5s ease;
	
}
.down-menu li a{
	display: block;
	text-align: end;
	color: white;
	text-decoration: none;
	font-weight: bold;
	margin-top: 15px;
	padding-top: 15px;
	padding-right: 20px;
	padding-bottom: 15px;
	transition: 0.3s ease;
}
.down-menu li:hover{
	background: #255957;
}
.down-menu a:hover{
	color: #fff;

}
/* 選轉箭頭 */
.fa-angle-right {
	display: block;
	position: absolute;
	top: 33%;
	right: 25%;
	color: #00ab8c;
    transition: transform 0.5s;
}
.fa-angle-right-t{
    transform: rotate(90deg);
}

/* 輪播圖 */
.swiper {
	width: 1025px;
	height: 560px;
	/* margin-top: 25px; */
	margin-bottom: 25px;
}
.swiper-slide a img{
	height: 100% !important;
}
.swiper-button-prev,
.swiper-button-next{
	color: white;
}
.swiper-button-prev:hover,
.swiper-button-next:hover{
	color: #00cc98;
}

/* html5 響應式網站 jQuery實戰教學 區塊 */
.couese{
	display: flex;
	justify-content: space-evenly;
}
.course-item {
    display: flex;
    justify-content: space-evenly;
    position: relative;/* 效果線相對定位點 */
    width: 300px;
	height: 400px;
    box-shadow: 0 2px 3px 2px #f1f1f1;
    overflow: hidden;
}

/* 線條效果 Top line */
.course-item:before, .course-item:after {
    content: "";
    position: absolute;
    background: #00ab8c;
    top: 0;
    left: 0;
    height: 10px;
    width: 0;
    transition: width 0.8s ease;
}
.course-item:hover:before {
    width: 100%;
}
/* 線條效果 Left line */
.course-item:after {
    content: "";
    position: absolute;
    background: #00ab8c;
    top: 0;
    left: 0;
    width: 10px;
    height: 0;
    transition: height 0.8s ease;
}
.course-item:hover:after {
    height: 100%;
}
/* 線條效果 Bottom line */
.course-item .bottom-line {
    content: "";
    position: absolute;
    background:  #00ab8c;
    bottom: 0;
    right: 0;
    height: 10px;
    width: 0;
    transition: width 0.8s ease;
}
.course-item:hover .bottom-line {
    width: 100%;
}
/* 線條效果 Right line */
.course-item .right-line {
    content: "";
    position: absolute;
    background:  #00ab8c;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 0;
    transition: height 0.8s ease;
}
.course-item:hover .right-line {
    height: 100%;
}
.course-item:hover{
	box-shadow: 0 0 10px 5px #e5e5e5;
}
.course-item-a{
	text-decoration: none;
	color: black;
}

.course-item h2{
	text-align: center;
	font-size: 25px;
}
.coueseP{
	padding: 20px;
	line-height: 1.5;
}

/* UI設計師 網頁設計師 前端工程師 */
.job{
	margin-top: 50px;
	font-size: 50px;
	text-align: center;
}
.jobs{
	display: flex;
	font-size: 30px;
	margin-top: 30px;
	
}

.jobBlock{
	display: flex;
	justify-content: space-evenly;
}

.jobItem{
	text-decoration: none;
	color: black;
	position: relative;
}
.jobTitle{
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
}
.jobBox {
	width:300px;
	height: 300px;
	background-color: #255957;
	overflow:hidden;
	border-radius:5px;
}

.jobBox_image {/* 平行四邊形遮蓋範圍 */
	width:430px;/* 圖片露出寬度 */
	height: 300px;
	margin-left:-80px;
	background-color:green;
	transform:skewX(150deg);/* 平行四邊形平移成正方形 */
	overflow:hidden;
	transition: all 800ms cubic-bezier(0.680, -0.550, 0.265, 1.550);/* 貝茲曲線 */
}
.jobBox:hover > .jobBox_image {
	width:100px; /* 展開 or 收起 */
}
.jobBox_rotate {
	background-color:blue;
	width:300px;
	height:80px;
	margin-left:20px;
	transform:skewX(-150deg);
}
.jobBox_rotate img {
	margin-left:-10px;
	width:105%;
}
.jobHeading{
	position:absolute;
	margin-top:60px;
	margin-left:100px;
	color: #00cc98;
	font-weight: bold;
	letter-spacing: 0.3em;
	display: flex;
}
.fa-palette, .fa-pager, .fa-wrench{
	padding-left: 5px;
	padding-right: 10px;
}

.jobOverlay {
	position:absolute;
	color:white;
	width: 180px;
	margin-top:90px;
	margin-left:100px;
	line-height: 1.5em;
	letter-spacing: 0.1em;
}
.celebrity{
	position: absolute;
	right: 0px;
	top: 80px;
	font-size: 16px;
}
.Suitable{
	border: 2px dashed #00ab8c;
	position: absolute;
	width: 250px;
	left: -90px;
	top: 140px;
	font-size: 16px;
	padding: 3px;
	padding-left: 10px;
}
.fa-plus{
	color: #fff;
	position: absolute;
	right: 5px;
	bottom: 5px;
	transition: transform 1s;
}
.jobItem:hover .fa-plus {
	transition: transform 1s;
	transform: rotate(-135deg);
	
}


/* 線上及實體課程差異 */
.table-title{
	text-align: center;
	font-size: 24px;
	padding-top: 60px;
	padding-bottom: 28px;
}
.compare{
	margin-left: 80px;
	margin-bottom: 60px;
	width: 838px;
}
.compare th,.compare td{
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	padding: 10px;
}
.compare tr:hover{
	background: #f7fffa;
}
.compare th{
	font-weight: bolder;
	background: #f7f7f7;
	text-align: left;
	padding-left: 23px;
}
.compare td{
	padding-left: 23px;
}
.green{
	color: #2e9573
}

/* 對我們的課程有興趣嗎？ */
.form{
	background: -webkit-linear-gradient(top, #00674b, #02986e);
	width: 1000px;
	margin-left: 10px;
}
.enter{
	display: flex;
}
.quiz{
	padding-left: 20px;
	padding-bottom: 29px;
}
.textarea{
	width: 460px;
	height: 245px;
	background-color: white;
	border-radius: 3px;
	border: none;
	resize: none;
}
.form h3{
	padding-top: 38px;
	padding-bottom: 34px;
	font-size: 21px;
	text-align: center;
	line-height: 1.5;
	color: white;
}
.personal{
	margin-left: 40px;
}
.personal h4{
	margin-bottom: 5px;
}
.n, .p, .m{
	margin-bottom: 15px;
	color: white;
}
.n input, .p input, .m input{
	width: 460px;
	height: 32px;
	border-radius: 5px;
	border: none;
}
input:focus {
	outline: none;
    box-shadow: 0 0 1px 2px #00cc98;
}
.textarea:focus{
	outline: none;
	box-shadow: 0 0 1px 2px #00cc98;
}
.sb{/* 送出按鈕 */
	width: 70px;
	height: 32px;
	margin-top: 5px;
	margin-left: 390px;
	color: white;
	background-color: #00cc98;
	border-radius: 5px;
	border: none ;
}
.sb:hover{
	background: #ffffff;
	color: #00cc98;
	cursor: pointer;
}

/* 頁尾 */
.footer{
	display: flex;
	justify-content: space-between;
	padding-top: 26px;
	padding-bottom: 58px;
}
.footerLogo{
	margin-left: 20px;
}
.footer li{
	display: flex;
	font-size: 13px;
	margin-right: 16px;
	margin-bottom: 11px;
}
.footer a{
	display: block;
	text-decoration: none;
	color: #df3272;
	margin-right: 16px;
}
.footer a:hover{
	color: #ff0000;
	text-decoration: underline;
}
/* 回頂部 */
.fa-angle-double-up{
	color: #00ab8c;
	font-size: 60px;
	position: fixed;
	right: 0;
	bottom: 0;
}
.animate__animated {
	--animate-duration: 2s;
}
